.img {

}

.editImg {
    width: 78px;
    height: 78px;
    border-radius: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    line-height: 79px;
    color: #cccccc;
    position: absolute;
    left: 261px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.AvatarDiv {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    display: flex;
    margin: 0 auto;
}

.AvatarDiv:hover .editImg {
    display: block;
    cursor: pointer;
}

.upload-demo {
    display: grid;
    width: 80px;
    height: 80px;
    margin: 40px auto;
}